@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
*{
    font-family: "Noto Sans KR", sans-serif;
    box-sizing : border-box;
    outline: none;
    color : #000;

}
html{
    font-size: 13px;
}
body{
    margin:0;
}
ul, ol{
    list-style : none;
}

ul, ol, li, dl, dt, dd{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}
img{
    border:0;
}

/*헤더영역 Start*/
header .site-top{
    display: flex;
    justify-content: space-between;
    align-items: center;/*상하가운데*/
    height : 66px;
    border-bottom : 1px solid #e6e6e6;
    padding : 0 15px;
}
header .logo img{
    height:34px
}
header .site-top i{
    font-size: 2.1rem;
}

header .site-top .left a{
    margin-right:10px;
}
header .site-top .right a{
    margin-left:10px;
}
nav{
    font-size: 1.539rem;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #e7e7e7;
    height: 50px;
    line-height: 49px;
    position: relative;
}
nav .back{
    height: 28px;
    position: absolute;
    top : 12px;
    left : 15px;
    cursor: pointer;
}
/* 헤더영역 End*/
/* 본문영역 Start*/

main{
    background: #ededed;
}
main .box{
    padding: 30px 15px 40px;
    margin-bottom : 10px;
    background : #fff;
    border-bottom: 1px solid #dfe1e5;
}
main .box legend{
   font-size: 1.306rem;
   font-weight: bold;
   margin-bottom: 19px;
}
main .inp_idpw input{
    width: 100%;
    height: 45px;
    padding : 0 10px;
    border : 1px solid #e5e5e5;
    border-radius: 3px;
 }

 
 main .box button{
    margin-top: 25px;
    width: 100%;
    height: 45px;
    font-size: 1.153rem;
    color : #ffffff;
    font-weight: bold;
    background-color: #8769f0;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
 }

 main .box ul{
    padding-top: 15px;
    display:flex;
    justify-content: center;
    color : #212121;
    font-size: 0.923rem;
    display: flex;
    text-align: center;
 }
 main .box li{
    padding: 0 15px;
 }

 main .box img{
    width: 230px;
 }
/* 본문영역 End */